

#root {
  font-family: "Verdana", Geneva, sans-serif;
  text-shadow: 1px 1px black;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  flex-direction: column;
  height: 100%;
}

#search {
  width: 95%;
  margin: auto;
  max-width: 800px;
}

h2 {
  font-size: 2em;
  color: white;
  text-shadow: 0px 1px rgb(0, 153, 115);
}



table {
  color: white;
  background-color: rgb(38, 77, 115);
  border-collapse: collapse;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 3px;
  width: 100%;
}

tr {
  height: 40px;
  cursor: pointer;
}

tr:nth-child(odd) {
  background-color:rgb(0, 153, 115);
}

td{
  padding: 10px;
  border-bottom: 1px solid rgb(255, 255, 255);
  text-align: center;
}

#result-table tr:hover{
  background-color:rgb(27, 52, 78);
}

#result-table tr:nth-child(odd):hover{
  background-color:rgb(0, 92, 69);
}

tr:last-child td {
  border-bottom: none;
}

form {
  text-align: center;
  background-color: rgb(38, 77, 115);
  color: white;
  margin: auto;
  padding: 20px 60px;
  border-radius: 4px;
}

form input {
  border-radius: 2px;
  border: 4px solid white;
  width: 80%;
  text-align: center;
}

.graph {
  margin: auto;
  max-width: 800px;
}

button {
  background-color: white;
  margin: 10px;
  padding: 10px;
	color: rgb(0, 153, 115);
	border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid rgb(0, 153, 115);
}

button:hover {
  background-color: rgb(0, 153, 115);
	color: white;
  border: 2px solid white;
}


.options {
  color: white;
  width: 95%;
  margin: auto;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.options table {
  box-sizing: border-box;
  margin-top: 0px;
  width: calc(50% - 2px);
  margin: 1px;

}

.options div {
  box-sizing: border-box;
  background-color: rgb(95, 95, 95);
  border-radius: 4px;
  text-align: center;
  padding: 15px;
  width: calc(50% - 2px);
  margin: 1px;
}

.options div input{
  margin-right: 10px;
}


.options table button{
  margin: 0px;
  padding: 5px;
  color: white;
  background-color: rgb(255, 134, 134);
  border: 2px solid white;
}

.options table button:hover{
  color: rgb(255, 134, 134);
  background-color: white;
  border: 2px solid rgb(255, 134, 134);
}

.options table input{
  width: 30px;
}

th {
  background-color: rgb(0, 0, 0);
}

#no-match {
  color: white;
  background-color: rgb(0, 153, 115);
  border-collapse: collapse;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 3px;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  padding: 10px 0px;
}

#info-table {
  text-align: center;
  width: 95%;
  margin: auto;
  max-width: 800px;
}

#info-table h2{
  font-size: 1.5em;
  color: black;
  padding: 0px;
  margin: 5px;
}

#intro {
  text-align: center;
  vertical-align: center;
  width: 95%;
  margin: auto;
  max-width: 800px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(0, 153, 115);
  border-radius: 4px;
  padding: 20px 0px;
  margin-top: 20px;
  font-size: 1.3em;
  color: white;
}

#photo {
  margin: auto;
  width: 60%;
  height: auto;
  margin-top: 10px;
}

.dot-loading {
  margin: 20px 0;
  display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: var(--main-border-radius);
	flex-direction: row;
	animation: dot-animation;
}

.dot-loading div {
	border-radius: 50%;
	background-color: rgb(190, 190, 190);
	padding: 5px;
	margin: 5px;
	animation: dot-animation;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.dot-loading div:nth-child(1) {
	animation-delay: 0s;
}

.dot-loading div:nth-child(2) {
	animation-delay: 0.5s;
}

.dot-loading div:nth-child(3) {
	animation-delay: 1s;
}

.dot-loading div:nth-child(4) {
	animation-delay: 1.5s;
}

@keyframes dot-animation {
	0% {background-color: black}
	25% {background-color: black;}
	50% {background-color:  rgb(190, 190, 190);}
	75% {background-color:  rgb(190, 190, 190);}
	100% {background-color:  rgb(190, 190, 190);}
}

@media only screen and (max-width: 600px) {
  .options div, .options table, #search, .options, #info-table{
    width: 100%;
  }
  #photo {
    width: 95%;
  }
}



